<section class="is-light layout">
  <div class="hero-body">
    <div class="img-container">
      <a href="https://imgbb.com/"><img src="https://i.ibb.co/x3G1NWf/doreads-logo.png" alt="doreads-logo", class="img-logo"></a>
    <!--<img src="assets/doreads-logo.png" alt="Logo-DoReads" class="img-logo">-->
    </div>
    <p class="subtitle has-text-centered">
      <% if user_signed_in? %>
        <%= link_to('Añadir un nuevo libro', new_book_path, class: 'add-link') %>
      <%end%>
    </p>
  </div>
</section>