@import "bulma";
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@900&family=Mulish&display=swap');

* {
  font-family: 'Mulish', sans-serif;
}

h1 {
  font-family: 'Arima Madurai';
  font-size: 48px;
}

