@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@900&family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$purple: rgb(162, 89, 255);

* {
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 34px;
}

p {
  font-size: 1rem;
  color: #030303;
}

.pagination-link, 
.pagination-next, 
.pagination-previous {
  background-color: $purple !important;
  border-color: $purple !important;
  color: white !important;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  align-items: flex-end;
  justify-items: center;
}

.nav-size {
  height: 100px;
  padding: 30px;
  filter: drop-shadow(-4px -22px 19px rgba(0, 0, 0, 0.31));
}

.nav-item {
  color: #030303;
  font-weight: 500;
  font-size: 1.2rem;
}

.nav-item:hover {
  color:$purple !important;
  font-weight: 600;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-logo {
  width: 300px;
}

.add-link {
  color:#030303;
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: underline;
}

.add-link:hover {
  color: $purple;
  font-weight: 600;
}

.nav-link:hover {
  color: $purple;
}

.form-layout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.btn-color {
  background-color: $purple;
  color: white;
}

.btn-color:hover {
  color: white;
}

.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.small-color-btn {
  border-color: $purple;
}

.name-book a {
  color: #030303;
}

.mg { 
  margin: 20px
}

.mg-t {
  margin-top: 100px;
}

.card-size {
  width: 300px !important;
}

.container-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-card {
  max-width: 400px;
  height: auto;
  border-radius: var(--border-radius-primary);
  box-shadow: 24px 24px 80px rgba(0,0,0,0.1);
  padding: 20px 20px 28px 20px;
  box-sizing: border-box;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.book-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
